<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
	
		<classes>
			<!-- <class name="com.utc.flowershop.testcase.TestCase_LogIn" /> -->
			<!-- <class name="com.utc.flowershop.testcase.TestCase_SignIn"/> -->
			<!-- <class name="com.utc.flowershop.testcase.TestCase_Register"/> -->
			<!-- <class name="com.utc.flowershop.testcase.TestCase_QuickSearch"/> -->
			<!-- <class name="com.utc.flowershop.testcase.TestCase_FlowerShop"/> -->
			<class name="com.utc.flowershop.testcase.TestCase_ShoppingCart"/>
		</classes>
		
	</test> <!-- Test -->
</suite> <!-- Suite -->
